::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--chakra-colors-whiteAlpha-300);
    border-radius: 0.3rem;
    margin: 0.5rem 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--chakra-colors-whiteAlpha-300);
    border-radius: 0.3rem;
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--chakra-colors-whiteAlpha-500);
  }
  